.loginImg {
  height: 50vh;
  width: 70%;
  margin:50px auto;
  border-radius: 10px;
  box-shadow: -5px 5px 0 rgb(144, 124, 124);
}

.leftPortion {
  width: 40%;
  background-color: rgb(170, 122, 215);
}

.rightPortion {
  width: 60%;
  font-size: large;
}
.rightInner {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin: 50px auto 0 auto;
}

.alignSelfRight {
  align-self: self-end;
  padding: 10px;
}

.alignSelfRight a{
    color: blue;
}

.formTag{
    /* background-color: antiquewhite; */
    padding:20px 10px;
}

.inputTag{
    border: 2px solid #ccc;
    border-radius: 7px;
    padding: 4px 6px;

}

.inputGroup{
    gap: 20px;
}

.btn{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: rgb(232, 82, 107);
}